<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Mozilla Releng API Example Blueprint </title>
    <script type="text/javascript" src="{{url_for('example.static', filename='js/jquery-2.1.1.min.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('example.static', filename='css/base.css') }}" type="text/css">
</head>
<body>
    <div id="text">
        <h3>Mozilla Releng API Example Blueprint</h3>
        <div id="main">
            <p>This is an example blueprint for Mozilla Release Engineering's API. For information on how to add additional functionality, please see the Mozilla Releng API Documentation <a href="https://api.pub.build.mozilla.org/docs/">here</a></p>
            <p>A User does not need to be logged in to see this page. They do need to be logged in to see <a href="{{ url_for('example.need_login') }}">this</a>.</p>
        </div>
    </div>
</body>
</html>
